/* CSS Document 
*
* @Author: Niral Mehta
* @Contributors: Rodrigo Queiroz
* @last-update: 17 Mar 2015
*
*/


/* start of form style */
#pdetails, #questions, #rating {
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5px;
	padding-bottom: 10px;
}

fieldset {
	border-color: #83e115;
}

legend {
	color: #151515;
}

label {
	display: inline-block;
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 10px;
}

.input-box {
	float: left;
	min-height: 100px;
	min-width: 200px;
	clear: both;
}

.input-value {
	margin-bottom: 10px;
	min-width: 10px;
	float: left;
}

textarea {
	width: 300px;
	height: 150px;
}

input {
	display: inline-block;
	float: left;
	min-width: 2px;
	clear: both;
	margin-bottom: 10px;
}

button {
	background: #000;
	border: none;
	border-radius: 2px;
	border-top: 2px solid;
	color: #fff;
	padding: 10px;
}

button:hover {
	background: #151515;
	border-top: 2px solid #83e115;
	cursor: pointer;
}

/* end of form style */

/* help hover box style */
.help-info {
	background: #4d4d4d;
	border
	display: none;
	float: right;
	height: 20px;
	margin-left: 10px;
	min-width: 200px;
	padding: 2px 6px 6px 6px;
}

.help-info p {
	color: #83e115; margin: 0; padding: 0;
}
/* END of help hover */

/*help icon style*/
.qmark {
	color: #83e115; 
	font-size: 20px;
	margin-left: 10px;
}
/* END of help icon style */

