/* CSS Document */
@charset "UTF-8";

/* start of form style */
#pdetails, #questions, #rating {
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5px;
	padding-bottom: 10px;
}

#pdetails img, #questions img, #rating img {
	height: 50px;
	width: 50px;
	margin-bottom: -9px;
	margin-right: -8px;
	float: right;
}

fieldset {
	border-color: #83e115;
}

legend {
	color: #151515;
}

label {
	display: inline-block;
	float: left;
	width: 300px;
}

input {
	display: inline-block;
	float: left;
}
/* end of form style */
