/*
 *    CSS Document
 *
 *    @author  Rodrigo Queiroz
 *    @date 14th Mar 2015
 *    @contributors Niral Mehta,
 *
 *    - Primary Colors
 *
 *    dark-background: #151515  // apply for text as wel
 *    avocado:         #83e115  // menu and block
 *    white:           #ffffff  // background and text
 *
 */


/*
 *    Google Fonts
 *	  Lato: light, regular, bold.
 */
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";

/*
 *    Defaults
 */
html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
img { border: none; }

/*
 *    Resets
 */
ul, li, h1, h2, h3, h4 { padding: 0; margin: 0; }

/*
 *    Custom
 */
.pull-right { float: right; }
.pull-left { float: left; }
.avocado { color: #83e115; }


/* Background */
body { background-image: url(../images/bg.png); background-color: #151515; font-family: 'Lato', sans-serif; font-size: 16px; }

/* Progress Bar */
.progress { background-color: transparent; height: 2px; position: relative; width: 100%; }
.progress-bar {
   animation: fadeIn 3s;
   -moz-animation: fadeIn 3s;
   -webkit-animation: fadeIn 3s;
   animation-name: progressbar;
   -moz-animation-name: progressbar;
   -webkit-animation-name: progressbar;
   animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
   background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
   background-size: 100% 2px;
   height: 100%;
   position: relative;
}

/* progress-bar animation */
@keyframes progressbar {
 0%, 100% { transition-timing-function: cubic-bezier(1, 0, .65, .85);  }
 0% { width: 0; }
 10% { opacity: 1; }
 20% { opacity: 1; }
 30% { opacity: 1; }
 40% { opacity: 1; }
 50% { opacity: 1; }
 60% { opacity: 1; }
 70% { opacity: 1; }
 80% { opacity: 1; }
 90% { opacity: 1; }
 100% { width: 100%; opacity: 0; }
}

@-webkit-keyframes progressbar {
 0%, 100% { transition-timing-function: cubic-bezier(1, 0, .65, .85);  }
 0% { width: 0; }
 10% { opacity: 1; }
 20% { opacity: 1; }
 30% { opacity: 1; }
 40% { opacity: 1; }
 50% { opacity: 1; }
 60% { opacity: 1; }
 70% { opacity: 1; }
 80% { opacity: 1; }
 90% { opacity: 1; }
 100% { width: 100%; opacity: 0; }
}

@-moz-keyframes progressbar {
 0%, 100% { transition-timing-function: cubic-bezier(1, 0, .65, .85);  }
 0% { width: 0; }
 10% { opacity: 1; }
 20% { opacity: 1; }
 30% { opacity: 1; }
 40% { opacity: 1; }
 50% { opacity: 1; }
 60% { opacity: 1; }
 70% { opacity: 1; }
 80% { opacity: 1; }
 90% { opacity: 1; }
 100% { width: 100%; opacity: 0; }
}

/*
 *    Header
 */
header { background-color: #151515; width: inherit; height: 140px; float: left; }

/* Logo */
.logo { margin-top: 12px; width: 69px; height: 68px; float: left; }
.logo .cover { width: 67px; height: 67px; position: absolute; z-index: 1; margin-left: -45px; }
.logo .cd { width: 69px; height: 68px; }

/* Spinning Logo */
@-webkit-keyframes spin { from { -webkit-transform:rotate(0deg); } to {-webkit-transform:rotate(360deg); } }
@-moz-keyframes spin { from { -moz-transform:rotate(0deg); } to { -moz-transform:rotate(360deg); } }
@-ms-keyframes spin { from { -ms-transform:rotate(0deg); } to { -ms-transform:rotate(360deg); } }
.logo .cd {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

header h1 { font-size: 50px; font-weight: 700; color: #ffffff; min-width: 100px; float: left; margin-top: 26px; margin-left: 10px; }
header .fa-music { color: #ffffff; font-size: 16px; position: absolute; margin-top: 28px; z-index: 1; }

/*
 *    Page wrapper
 */
.page-wrapper { width: 100%; height: 100%; margin-bottom: -115px; } /* margin-bottom should be the height of the footer + 15px of the margin */

/*
 *    Menu
 */
.menu { width: inherit; height: 44px; margin-top: 96px; border-top: 1px solid #333333; font-weight: 300; }
.menu ul { list-style: none; }
.menu ul li { float: left; padding: 10px 10px 10px 10px; margin-top: -1px; }
.menu ul li:hover { border-top: 1px solid #83e115; padding-top: 9px; }
.menu a { color: #ffffff; text-decoration: none; padding: 10px; }
.menu .search { position: absolute; right: 12px; }

/* Search bar */
.search-bar { width: 100%; height: 40px; float: left; margin-bottom: 15px; display: none; }
.search-bar input { width: 99%; height: 40px; background-color: #3b3b3b; border: none; padding: 0.5%; font-size: 24px; color: #ffffff; font-weight: 300; }
.search-bar input:focus { outline-width: 0; }
.search-bar input::-webkit-input-placeholder { color: #828282; font-weight: 300; }
.search-bar input:-moz-placeholder { color: #828282; font-weight: 300; } /* Firefox 18- */
.search-bar input::-moz-placeholder { color: #828282; font-weight: 300; } /* Firefox 19+ */
.search-bar input:-ms-input-placeholder { color: #828282; font-weight: 300; }
.search-bar .close { color: #ffffff; font-size: 18px; position: absolute; right: 10px; margin-top: -35px; }

/*
 *    Left block
 *    Extra:
 *    if .list is used an alternate background color will be displayed for paragraphs
 */
.left-block { width: 30%; min-height: 100px; background-color: #ffffff; float: left; margin: 1.5%; }
.left-block .content { margin: 12px; }
.left-block p { font-weight: 300; padding: 0 12px 0 12px; }
.left-block .list p { font-weight: 300;   margin: 0 -12px 0 -12px; padding: 12px; }
.left-block .list p:first-child { margin-top: -12px; }
.left-block .list p:last-child { margin-bottom: -12px; }
.left-block .list p:nth-child(even) { background-color: #DDDDDD; }
.left-block .list p:nth-child(odd) { background-color: #F0F0F0; }
.left-block .title { width: 100%; height: 45px; background-color: #151515; }
.left-block .title h2 { font-size: 24px; font-weight: 400; color: #ffffff; padding: 6px 0 0 12px; }
.left-block .title i { color: #ffffff; font-size: 24px; position: relative; float: right; margin-top: -25px; margin-right: 14px; }

/*
 *    Main content and main content full page
 */
.main-content { width: 65.5%; min-height: 350px; float: left; margin-top: 1.5%; margin-right: 1.5%; background-color: #ffffff; }
.main-content-full { width: 97%; min-height: 350px; float: left; margin: 1.5%; background-color: #ffffff; }

/* Articles */
.main-content article, .main-content-full article { margin: 15px; }
.main-content article h2, .main-content-full article h2 { font-size: 30px; font-weight: 700; }
.main-content article p, .main-content-full article p { font-weight: 300; line-height: 24px; }

/*
 *    Footer
 */
footer { width: 100%; height: 100px; background-color: #151515; margin-top: 15px; float: left; clear: both; }
footer .copy { color: #ffffff; font-weight: 300; font-size: 12px; position: absolute; bottom: 0; left: 46%; }