.instruments {
	clear: both;
	float: left;
	width: 100%;
}

.imagecont {
	float: left;
	display: inline-block;
	width: 19%;
}

.imagecont img {
	height: 100px;
	margin-left: 35%;
	margin-right: 35%;
}

.display {
	float: left;
	width: 100%;
}

.display img {
	height: 50%;
}

select {
	width
}

h2, h3, h4, h5 {
	text-align: center;
}

select {
	width: 180px;
}