/* CSS Document 
* 
*	@Author: Niral Mehta
*	@date: 15th Mar 2015
*	@last-update: 15th Mar 2015
*/
@charset "UTF-8";

/* header style */
h2 {
	text-align: center;
}
/* END of header style */

/* intro image settings and animations*/
.main-content-full img {
	height: 75%;
	width: 100%;
}

.scale {
	animation: fadeIn 3s;
	-moz-animation: fadeIn 3s;
   -webkit-animation: fadeIn 3s;
   animation-name: scaleFadeIn;
   -moz-animation-name: scaleFadeIn;
   -webkit-animation-name: scaleFadeIn;
}

@-moz-keyframes scaleFadeIn {
	0% {opacity: 0;}
	25% {opacity: 0.25;}
	50% {opacity: 0.5;}
	75% {opacity: 0.75;}
	100% {opacity: 1;}
}

@-webkit-keyframes scaleFadeIn {
	0% {opacity: 0;}
	25% {opacity: 0.25;}
	50% {opacity: 0.5;}
	75% {opacity: 0.75;}
	100% {opacity: 1;}
}

@keyframes scaleFadeIn {
	0% {opacity: 0;}
	25% {opacity: 0.25;}
	50% {opacity: 0.5;}
	75% {opacity: 0.75;}
	100% {opacity: 1;}
}

/*END of intro image settings and animations*/