/* CSS Document */
@charset "UTF-8";

h2 {
	text-align: center;
}

.rq, .nm, .cs, .er  {
	background-color: rgba(255,255,255, .1);
	display: inline-block;
	height: 200px;
	margin: 3%;
	padding: 2%;
	width: 200px;
}

img {
	height: 200px;
	margin-left: 12%;
	width: 200px;
}
